@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    font-family: 'Lato', sans-serif;  
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.outer_box{

    width: 100vw;
    height: 100vh;
    background:linear-gradient(to top left,#3ed8ff,#1e90ff)
    
}
.inner_box{
    width: 400px;
    margin:0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    padding: 40px 40px;
    background:linear-gradient(to top left,  #ffffff,#ffffff33);
    border-radius:8px ;
    box-shadow: 2px 2px 5px;


}
h1{
    font-size: 40px;
    text-align: center;
}
.login_body{
    margin: 20px 0;
}
.login_body p{
    margin: 10px 0;
}
.login_body p label{
    display: block;
}
.login_body p input{
    width: 100%;
    padding: 5px;
    border: 2px solid #cccc;
    margin-top: 4px;
    border-radius: 4px;


}
#submit{
background-color: #3498db;
border: none;
color: white;
cursor: pointer;

}